h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: White;
  text-align: center;
}
a {
  font-size: 16px;
  color: Aquamarine;
}
p {
  text-align: center;
}
* {
  font-family: verdana;
  background-color: black;
}
